.counterBox {
    background: #1C1C1C;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .eventCounter {
        font-family: Volkhov;
        font-size: 43px;
        line-height: 55px;
        font-weight: 700;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }
}

.eventContainer {
    max-width: 1179px;
    min-height: calc(100vh - 130px);
    margin: 0 auto;
    background: url('../../assets/argyle.png');
    padding: 0 34px;

    .toolBox {
        padding-top: 10px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            margin: 0 20px
        }
    }

    .eventTitleBox {
        padding: 10px 0 30px;

        &__title {
            display: block;
            text-align: center;
            font-family: Volkhov;
            font-size: 40px;
            line-height: 52px;
            color: #fff;
        }
    }

    .eventMainBox {
        display: flex;

        .eventImageBox {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 630px;
            height: 370px;
            
            &__image {
                max-width: 630px;
                max-height: 360px;
            }
        }

        .eventDetailsBox {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 15px;
            background: rgba(255,255,255, .3);
            border: 1px solid #fff;
            border-radius: 3px;
            margin-left: 15px;

            &__details {
                font-family: Volkhov;
                font-size: 22px;
                line-height: 28px;
                color: #FFFFFF;
            }
        }
    }

    .eventDescription {
        font-family: Volkhov;
        font-size: 22px;
        line-height: 28px;
        color: #FFFFFF;
    }
}