<ul class="event-list">
    <li *ngFor="let event of events$ | async" class="event-list__single">
        <div class="event-list__imageBox">
            <img src="{{ event.imageUrl }}" alt="" class="event-list__image">
        </div>
        <div class="event-list__body">
            <h3>{{ event.name }}</h3>
            <p>{{ event.description }}</p>
        </div>
        <div class="event-list__action">
            <a [routerLink]="['/event', event.id]" routerLinkActive="active">
                <button pButton type="button" label="View" ></button>
            </a>
            <a [routerLink]="['/event/edit', event.id]" routerLinkActive="active">
                <button pButton type="button" label="Edit"></button>
            </a>
            <button pButton type="button" label="Remove" (click)="removeEvent(event.id)"></button>
        </div>
    </li> 
</ul>