nav{
    position: absolute;
    z-index: 30;
    height: 60px;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.35);

    .spacer {
        flex-grow: 1;
        flex-basis: 0;
    }

    .logoBox {
        display: flex;
        align-items: center;

        img {
            margin-left: 10px;
        }
    }

    .navBox {
        display: flex;
        align-items: center;

        &__anchor {
            font-family: Volkhov;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            margin: 0 22px;
            text-transform: capitalize;
            color: #FFFFFF;
            text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7);
        }
    }
}