<div class="container" *ngIf="event$ | async as event; else loading">
    <div class="counterBox">
        <span class="eventCounter">Time to start event: {{ timeToStartString }}</span>
    </div>
    <div class="eventContainer">
        <div class="toolBox">
            <a [routerLink]="['/event/edit', event._id]" routerLinkActive="active">
                <button pButton type="button" label="Edit"></button>
            </a>
            <button pButton type="button" label="Remove" (click)="removeEvent()"></button>
        </div>
        <div class="eventTitleBox">
            <h1 class="eventTitleBox__title">{{ event.name }}</h1>
        </div>
        <div class="eventMainBox">
            <div class="eventImageBox">
                <img src="{{ event.imageUrl }}" class="eventImageBox__image">
            </div>
            <div class="eventDetailsBox">
                <span class="eventDetailsBox__details">Localization: {{ event.localization }}</span>
                <span class="eventDetailsBox__details">Organizer: {{ event.organizer }}</span>
                <span class="eventDetailsBox__details">Type: {{ event.type }}</span>
                <span class="eventDetailsBox__details">Start At: {{ event.startAt | date:'d MMM y HH:mm'}}</span>
                <span class="eventDetailsBox__details">End At: {{ event.endAt | date:'d MMM y HH:mm'}}</span>
            </div>
        </div>
        <p class="eventDescription">{{ event.description }}</p>
    </div>
</div>

<ng-template #loading>
    <div class="container">
        <div class="counterBox">
            <span class="eventCounter">Loading ...</span>
        </div>
        <div class="eventContainer">
            <div class="eventTitleBox">
                <h1 class="eventTitleBox__title">Event not found yet, you will be redirected to searcher</h1>
            </div>
        </div>
    </div>
</ng-template>