.eventEditContainer {
    max-width: 1179px;
    min-height: calc(100vh - 60px);
    margin: 0 auto;
    background: rgba(0, 0, 0, .5);
    padding: 40px 50px 0 50px;
}

.endLine {
    display: flex;
    justify-content: flex-end;
}

button {
    margin-left: 10px;

    &:first-child {
        margin-left: 0px;
    }
}