<div class="container">
  <div class="eventEditContainer">
    <div class="endLine">

      <button pButton type="button" icon="pi pi-id-card" label="Generate 1 random" type="submit"
        (click)="createRandom(1)">
      </button>

      <button pButton type="button" icon="pi pi-id-card" label="Generate 5 random" type="submit"
        (click)="createRandom(5)">
      </button>

      <button pButton type="button" icon="pi pi-id-card" label="Generate 10 random" type="submit"
        (click)="createRandom(10)">
      </button>

    </div>

    <eventcraft-workspace-event-form [event]="event" (updatedEvent)="updatedEvent($event)">
    </eventcraft-workspace-event-form>
  </div>
</div>