<div class="container">
    <div class="serachTool">
        <div class="serachTool__half">
            <div>
                <span>Sort events by: </span>
                <p-dropdown [options]="sortOptions" (onChange)="changeOrder($event.value)" [(ngModel)]="selectedOrder">
                </p-dropdown>
            </div>
        </div>
        <div class="serachTool__half">
            <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Search title" #searchInput>
                <button pButton type="button" icon="pi pi-search" class="ui-button-warn"
                    (click)="searchByTitle(searchInput.value)"></button>
            </div>
        </div>
    </div>
    <div class="resultContainer">
        <div *ngFor="let event of event$ | async" class="eventView">
            <div class="eventView__imageBox">
                <img src="{{ event.imageUrl }}" alt="">
            </div>
            <div class="eventView__body">
                <h2 class="eventView__title">{{ event.name }}</h2>
                <span class="eventView__details">Localization: {{ event.localization.city }}</span>
                <span class="eventView__details">Start At: {{ event.startAt | date: 'short' }}</span>
                <span class="eventView__details">End At: {{ event.endAt | date: 'short' }}</span>
            </div>
            <div class="eventView__footer">
                <a [routerLink]="['/event', event._id]" routerLinkActive="active">
                    <button pButton type="button" label="View"></button>
                </a>
                <a [routerLink]="['/event/edit', event._id]" routerLinkActive="active">
                    <button pButton type="button" label="Edit"></button>
                </a>
                <button pButton type="button" label="Remove" (click)="removeEvent(event._id)"></button>
            </div>
        </div>

    </div>
</div>