<div class="container">
    <div class="serachTool">
        <div class="serachTool__half">
            <div>
                <span>Sort events by: </span>
                <p-dropdown [options]="sortOptions" (onChange)="changeOrder($event.value)" [(ngModel)]="selectedOrder">
                </p-dropdown>
            </div>
        </div>
        <div class="serachTool__half">
            <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Search title" #searchInput>
                <button pButton type="button" icon="pi pi-search" class="ui-button-warn"
                    (click)="searchByTitle(searchInput.value)"></button>
            </div>
        </div>
    </div>
    <div class="resultContainer">

        <app-event-card *ngFor="let event of event$ | async" [event]="event"></app-event-card>

    </div>
</div>