form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 25px 0 10px 0;
  color: #fff;
  font-size: 20px;
}

textarea { 
  resize: vertical; 
}

.defultInput {
  font-size: 15px;
  padding: 8px;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

button {
  margin: 20px 0;
}

.localizationBox {
  display: flex;
  padding: 10px;
  border: 1px solid #fff;

  &-inputs {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
}